body {
  background-color: #D6E5FA;
}

img {
  height: 150px;
}

hr {border-style: none;
    border-top-style: dotted;
    border-color: black;
    border-width: 5px;
    width: 20%;}

h1 {
  color: #091353;
}

h3 {
  color: #091353;
}

h2 {
  color: #091353;
}
